.App {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  background: whitesmoke;

  padding: 0;
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 500px;
}

.wrapper .field {
  margin: 80px ;
}

.wrapper .field .row {
  display: flex;
  justify-content: center;

  width: 600;
}

.Box {
  align-items: center;
  background: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  width: 50px;
  height: 80px;
  justify-content: center;
  padding: 5px;
  margin: 2px;
}


.correct {
  background: green !important;
}

.present {
  background: yellow !important;
}

.not-found {
  background: grey !important;
}
